[submodule "ext/cs"]
	path = ext/cs
	url = https://github.com/thisisignitedoreo/cs.git
[submodule "ext/miniaudio"]
	path = ext/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "ext/systemd"]
	path = ext/systemd
	url = https://github.com/systemd/systemd
[submodule "ext/raytext"]
	path = ext/raytext
	url = https://github.com/thisisignitedoreo/raytext
