#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=0.0.1-indev
Name=mus3
Comment=Simple, lightweight and fast music player.
Path=/home/acid/Programming/mus3
Exec=/home/acid/Programming/mus3/build/mus3
Terminal=false
Categories=Audio;Music;Player;